/* CURRENTLY IN: styles/main.css */
html {
	font-size: 12px;
	/*background-image: url("/assets/images/backgroundimage.jpg");*/

    /* Full height */
    /*height: 100%; */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

/*#todoapp .todo-col {*/
	/*border: 1px solid black;*/
/*	text-align: center;
}*/
/*
#todoapp .todo-spinner {
	animation: spinner 2.0s linear infinite;
}

#todoapp .todolist-item {
	font-weight: bold;
	text-align: left;
}

#todoapp .todolist-icon {
	float: right;
	margin: 0 0.25rem;
}

#todoapp .todo-addbtn {
	cursor: pointer;
}
*/
.css-h4-edit{
	background-color: tan;
	width: 100%;
	height: 50px;
}

.css-li-edit{
	background-color: pink;
	width: 100%;
	height: 400px;
}

.blogtextcss {
	width: 200%;


}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}